/* Watermark */
.appMount-3lHmkl {
	--theme-name: 'iBhopperDiscord';
	--theme-long-name: 'iBhopper Discord';
	--theme-version: 'v2.0 [beta]';
}

.wordmark-2iDDfm:after {
	content: var(--theme-version);
	text-shadow: 0 0 12px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
	font-size: 12px;
}

.wordmark-2iDDfm:before {
	content: var(--theme-long-name) ' ';
	text-shadow: 0 0 12px;
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
}

.wordmark-2iDDfm svg {
	display: none;
}